[Config]
enabled=true
; this not yet implemented
tellversion=true

[Logging]
chatInConsole=true
debugInConsole=true
errorInConsole=true
exceptionInConsole=true

chatInLog=true
debugInLog=true
errorInLog=true
exceptionInLog=true

[Commands]
;change this if you want to disable the default commands
enabled=true
;
;default commands, remove the letters after "=" to disable a certain command
ShowStatsOther=statsof
ShowMyStats=mystats
ShowLocation=whereami
ShowOnlinePlayers=players
